<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dhaan</title>
</head>
<body>
    <form action="" method="post">
        First Name : <input type="text" name="fname" placeholder="First Name"/>
        Last Name : <input type="text" name="lname" placeholder="Last Name"/>
        Email : <input type="email" name="mail" placeholder="mail id" />
        Password : <input type="password" name="pswd" placeholder="password" />
        Blood Group :
        <select name="grp">
            <option>A+</option>
            <option>B+</option>
            <option>AB+</option>
            <option>O+</option>
            <option>A-</option>
            <option>B-</option>
            <option>AB-</option>
            <option>O-</option>
        </select>
{#        <input type="text" name="grp" placeholder="group" />#}
        <input type="submit" value="Submit">
    </form>
</body>
</html>